body{
    background-color: aliceblue;
    
}

.test_image_and_result{
background-color: rgb(247, 177, 226);
border-radius:15px;
box-shadow: 3px 3px 3px gray;
margin-top:35px;
margin-right: 50px;
text-align: center;
margin-bottom: 25px;

}

h5{
    font-family: monospace;
    font-size: 25px;
    background-color: rgb(255, 227, 227);
    border-radius: 20px;
    color: rgb(111, 20, 66);
}


section{
    background-color: rgb(249, 216, 231);
height: 300px;
border-radius: 40px;
margin-left: 50px;
margin-right: 50px;
padding-top: 25px;
margin-top: 20px;
padding-left: 20px;

}
#yy{
    color:rgb(249, 216, 231);
}
#yu{
    font-size: 50px;
    color: rgb(136, 54, 98);
    font-family: fantasy;
    text-decoration:underline;
}
#nj{
    font-size:65px;
    font-family: monospace;
    color: rgb(179, 40, 121);
}
h1{
    font-family: fantasy;
    color: rgb(136, 54, 98);
    font-size: 25px;
    text-decoration:underline;
}
#im{
    height:100px;
    width:100px;
}


h4{
    font-size: 25px;
  
    
    color: rgb(111, 20, 66);
    font-family:Verdana ;
}
img{
    border-radius: 40px;
    margin-bottom: 15px;
}

#oo{
    text-align: center;
    background-color: rgb(251, 196, 198);
    border-radius: 40px;
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    font-family: cursive;
    width:500px;
    line-height:3;
    color: rgb(102, 22, 90);
}
p{
    font-size: 30px;
    text-align:center;
color:rgb(81, 11, 41);
  
}
.copy_right_footer{
    position:fixed;
    bottom:0;
    text-align: center;
    color:rgb(84, 16, 16);
    background-color: rgb(236, 172, 172);
    width:100%;
    line-height:3;
    font-family: monospace;
}


